<div class="container"
    style="text-align: center; margin: 2%; max-width: 600px; margin: 0 auto; padding: 20px; box-shadow:  0px 4px 10px rgba(0, 0, 0, 0.1); border-radius: 10px; background-color: #f9f9f9;">

    <div style="margin-bottom: 20px;">
        <h1 style="font-size: 24px; color: #3f51b5;">  </h1>

    </div>
    <div>
        <h1>{{ edicion ? 'Actualizar usario' : 'Registrar usuario' }}</h1>
      </div>
    <div>
        <form [formGroup]="form" (submit)="insertar()" style="display: flex; flex-direction: column; gap:15px">


            <mat-form-field class="example-full-witdth" appearance="fill" *ngIf="edicion">
                <mat-label> Codigo </mat-label>
                <input matImput formControlName="hid" readonly/>
            </mat-form-field>

            <mat-form-field class="example-full-witdth" appearance="fill">
                <mat-label> Nombre Usuario</mat-label>
                <input matInput placeholder="Usuario1" formControlName="husername"/>
                <mat-error *ngIf="form.controls['husername'].hasError('required')">
                    El nombre de usuario es obligatorio
                  </mat-error>

            </mat-form-field>
            
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Ingrese su contraseña</mat-label>
                <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="********" formControlName="hpassword" />
                <button type="button" mat-icon-button matSuffix (click)="showPassword = !showPassword">
                    <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="pat@example.com" formControlName="hmail" />
                <mat-error *ngIf="form.controls['hmail'].hasError('required')">
                    El email es obligatorio
                  </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Pais</mat-label>
                <input matInput placeholder="Peru" formControlName="hpais" />
                <mat-error *ngIf="form.controls['hpais'].hasError('required')">
                    El pais es obligatorio
                  </mat-error>
            </mat-form-field>


            <mat-form-field appearance="fill">
                <mat-label>Fecha de Modificacion</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="hfecha_modificacion" placeholder="MM/DD/YYYY">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="form.controls['hfecha_modificacion'].hasError('required')">
                    La fecha modificacion es obligatorio
                  </mat-error>
            </mat-form-field>

 
            <div style="text-align: center; margin-top: 20px;">
                <button 
                mat-flat-button 
                color="primary"
                type="submit"
                [disabled]="!form.valid"
               >
               {{ edicion ? 'Actualizar' : 'Registrar' }}
             </button>
            </div>

        </form>
    </div>
</div>