<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EGO-Task </title>
</head>
<body>
  <header class="header">
    <div class="menu">
        
       <h1 class="logo">
        <img src="assets\task.png" alt="" class="logo-img">
        EGO TASK
       </h1>
       <h2 class="pe"> Mas alla del ingenio 
        <mat-icon style="font-size: 1.8rem;">work</mat-icon>
       </h2> 
       <nav class="navbar">
          <ul>
               <li><a href="/">Inicio</a> </li>
               <li><a  href="/signUp" >Registro</a></li>
               <li><a  href="/login" >login</a></li>
               <li><a href="/contacto">contacto</a></li>
          </ul>

        </nav>
   </div>
  </header>


 <div >
   
    <section class="features" >
        
        <a href="https://github.com/CesarTapia10">
        <div class="feature" >
            
            <h3>GIT HUB</h3>
            <p>Username: CesarTapia10</p>
            <img 
            style="
            width:11%; 
            height:11%;" 
            
            src="https://images.seeklogo.com/logo-png/30/2/github-logo-png_seeklogo-304612.png" href="https://github.com/CesarTapia10" alt="">
             
        </div>
    </a>

    <a href="https://www.linkedin.com/in/c%C3%A9sar-tapia/">
        <div class="feature">
            <h3>LINKEDIN</h3>
            <p>Usernamme: césar tapia</p>
            <img  
            style="
            width:15%; 
            height:15%;"
             src="https://static.vecteezy.com/system/resources/previews/023/986/970/non_2x/linkedin-logo-linkedin-logo-transparent-linkedin-icon-transparent-free-free-png.png" alt="">
        </div>
    </a>

    <a href="https://www.upc.edu.pe/">
        <div class="feature">
            <h3>ESTUDIOS</h3>
            <p>Estudiante  de ing. de sistemas de informacion de la universidad de la Universidad Peruana de Ciencias Aplicadas.</p>
            <img  
            style="
            width:15%; 
            height:15%;"
            src="assets\logo.png" alt="">
        </div>
    </a>
    </section>
</div>

<footer  style="display: grid;
min-height: 20dvh;
grid-template-rows:
auto 1fr auto ;">
    <p>&copy; 2025 Organizador de Tareas. Todos los derechos reservados. <a href="#">Política de Privacidad</a></p>
</footer>
  
</body>
</html>