h1{
    color: rgb(188, 72, 255);
}



span{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 17ch;
    color: rgb(188, 72, 255);
    animation: typing 2s steps(12),
    blink .5s infinite step-end alternate;
    text-align: center;
    margin: 10% 35%;
    overflow: hidden;
    font-size: 150%;

}

@keyframes typing{
    from{width: 0;}
}

@keyframes blink{
    50%{border-color:transparent ;}
}


body {
    margin: 0;
    padding: 0;
    height: 150vh; /* Asegura que cubra toda la altura del viewport */
    background-image: linear-gradient(
        rgba(151, 104, 160, 0.356),
        rgba(62, 31, 134, 0.5)),
        url(https://static.vecteezy.com/system/resources/previews/008/922/022/non_2x/gradient-black-background-with-angle-shapes-texture-illustration-vector.jpg);/* Color degradado */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaciado horizontal y vertical entre cards */
    justify-content: center; /* Centra las cards */
  }
  
  .example-card {
    margin-bottom: 20px; /* Margen inferior para dar espacio a la tarjeta */
    width: 250px; /* Ajusta el ancho de las cards si lo deseas */
  }

  img{
    width: 70%;
    align-items: center;
    text-align: center;
    align-content: center;
    display: grid;
    vertical-align: middle;
    place-items: center
  }