
<body>
  

<div class="home-container">
    <div class="carousel-container">
      <div class="carousel" id="imageCarousel">
    
        <img src="assets\imagen1.png" alt="">
        <br>
        <img src="assets\imagen2.jpg" alt="">
        <br>
        <img src="assets\imagen3.jpg" alt="">
        <br>
        <img src="assets\iamgen5.jpeg" alt="">
        <br>
        <img src="assets\imagen4.png" alt="">
       
      </div>
    </div>
  
    <div class="content-container">
      <div class="welcome-box">
        <h2>Hola de Nuevo!</h2>
        <p>¿Qué toca hacer hoy?</p>
        <button class="action-button" routerLink="/tareas/nuevo">Crear una nueva tarea</button>
        <button class="action-button" routerLink="/proyectos">Visualizar proyectos</button>
      </div>
  
      <div class="center-box" >
        <h3>Bienvenido a una nueva seccion</h3>
        <p>Explora estas opciones</p>
        <button class="empty-button" routerLink="/comentarios">ver comentarios</button>
        <button class="empty-button" routerLink="/colaboradores">Ver colaboradores</button>
      </div>
    </div>
  </div>
</body>