<div class="container" [ngClass]="{ 'edit-mode': edicion, 'register-mode': !edicion }">
  <div>
    <h1>{{ edicion ? 'Actualizar proyecto' : 'Registrar proyecto' }}</h1>
  </div>

  <div>
    <form [formGroup]="form" (submit)="insertar()">
      <!-- Campo Código -->
      <mat-form-field class="example-full-width" *ngIf="edicion">
        <mat-label>Código</mat-label>
        <input matInput formControlName="hid" readonly />
      </mat-form-field>

      <!-- Campo Nombre -->
      <mat-form-field class="form-field">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="hnombre" />
        <mat-error *ngIf="form.controls['hnombre'].hasError('required')">
          El nombre es obligatorio
        </mat-error>
      </mat-form-field>

      <!-- Campo Descripción -->
      <mat-form-field class="form-field">
        <mat-label>Descripción</mat-label>
        <input matInput formControlName="hdecripcion" />
        <mat-error *ngIf="form.controls['hdecripcion'].hasError('required')">
          La descripción es obligatoria
        </mat-error>
      </mat-form-field>

      <!-- Campo Fecha de Modificación -->
      <mat-form-field class="form-field">
        <mat-label>Fecha de modificación</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="hfecha_modifiacion" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf="form.controls['hfecha_modifiacion'].hasError('required')">
          La fecha de modificación es obligatoria
        </mat-error>
      </mat-form-field>

      <!-- Botón -->
      <div class="button-container">
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="!form.valid"
        >
          {{ edicion ? 'Actualizar' : 'Registrar' }}
        </button>
      </div>
    </form>
  </div>
</div>