<body>
<div class="container" [ngClass]="{ 'edit-mode': edicion, 'register-mode': !edicion }" style="text-align: center; margin: 2%">
  <div>
    <h1>{{ edicion ? 'Actualizar proyecto con tareas' : 'Registrar proyecto con tareas' }}</h1>
  </div>
  <div>
    <form [formGroup]="form" (submit)="insertar()" class="proyectosconTareas-form">

      <mat-form-field class="example-full-width" *ngIf="edicion">
        <mat-label>Código</mat-label>
        <input matInput formControlName="hid" readonly />
      </mat-form-field>
      <br />

  
    

      <mat-form-field>
        <mat-label>Fecha de modificación</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="hfecha_modifiacion" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf="form.controls['hfecha_modifiacion'].hasError('required')">
          La fecha de modificación es obligatoria
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Proyectos</mat-label>
        <mat-select formControlName="hproyectos">
          <mat-option *ngFor="let p of listaproyectos" [value]="p.id">
            {{ p.nombre }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['hproyectos'].hasError('required')">
          Se necesita un proyecto
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Tarea</mat-label>
        <mat-select formControlName="htareas">
          <mat-option *ngFor="let t of listatareas" [value]="t.id">
            {{ t.titulo }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['htareas'].hasError('required')">
          Se necesita una tarea
        </mat-error>
      </mat-form-field>

      <div class="button-container">
        <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid">
          {{ edicion ? 'Actualizar' : 'Registrar' }}
        </button>
      </div>
    </form>
  </div>
</div>
</body>